.comments {
    width: auto;
    display: flex;
    flex-direction: column;
}
.comment{
    text-decoration: none;
    text-align: justify;
    padding: 0.5rem 2rem;
    background-color: azure;
    font-size: medium;
    color: slategray;
    border: thin grey solid;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
.comment:last-child {
    border-bottom: thin solid grey;
}

.comment-container {
    list-style-position:inside;
    padding: 0%;
}

.comment-container :first-child {
    border-radius: 10px 10px 0px 0px;
}
.comment-container :last-child {
    border-radius: 0px 0px 10px 10px;
    }

.comment-text {
    width: 95%;
    border-radius: 5px;
    padding: 0.4rem;
    overflow-wrap: anywhere;
    text-align: left;
}

.comment-text-alt {
    color: black;
    overflow-wrap: anywhere;
    text-align: left;
    width: 70%;
    align-self: center;
}

.comment-button {
    margin: .5rem 0px 0px 1rem;
    display: flex !important;
}

.comment-button:active {
    border: inset darkseagreen;
}