.Header {
    width: 100%;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    min-height: 5vh;
    align-items: center;
    
}

.Header> *{
    border-right: solid thin gray;
}

.App-title {
    width: 15rem;
    height: calc(40px + 10vh);
    overflow-wrap: anywhere;
    text-align: left;
    font-size: 1rem;
    position: relative;
    color: rgb(0, 0, 0);
    padding: 1.5rem 1rem 0;
}

.Header-content {
    padding-left:1rem ;
    float: left;
    height: calc(40px + 10vh);
}

.Header-route:last-of-type {
    border-right: solid black thin;
}

.Header-route {
    padding: 1rem;
    border: solid black thin;
    border-right: none;
    text-decoration: none;
    font-weight: bolder;
    color: antiquewhite !important;
    background-image: linear-gradient(0deg, rgba(121,9,9,1) 35%, rgba(255,255,255,1) 150%);
    flex-grow: 1;
}

.Header-route:hover {
    background-image: linear-gradient(0deg, rgba(121,9,9,1) 35%, rgba(255,255,255,1) 120%);
}

.Header-route:active {
    background-image: linear-gradient(180deg, rgba(121,9,9,1) 60%, rgba(255,255,255,1) 180%);
}