.dropeable-list {
    border-radius: 10px;
    border: inset .3rem grey;
    background-color: rosybrown;
    height: 70vh;
    margin: 1rem;
    width: 40%;
    display: inline-block;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.dropeable-list::-webkit-scrollbar {
    display:none;
}

.dropeable-container {
    padding: 0%;
    min-height: 70vh;
}

.dropeable-container > li {
    list-style: none;
}
.dropeable-list-item {
    border-radius: 10px;
    margin: .2rem 1rem;
    padding: .6rem;
    background-color: ghostwhite;
}

.plus-button {
    color: white;
    display:block;
    padding: 0.5rem 0.7rem;
    margin: 0px 0.5rem;
    width: fit-content;
    border-radius: 0px 0px 10px 10px;
    background-color: brown;
}
.plus-button:hover {
    cursor: pointer;
}