.dropeable-list {
    border-radius: 5px;
    border: inset .3rem grey;
    background-color: lightgrey;
    height: 50vh;
    margin: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.dropeable-list::-webkit-scrollbar {
    display: none;
}

.dli {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.Fa-edit-alt {
    padding: 0.2rem 0.6rem;
    color: brown;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.dropeable-container {
    padding: 0%;
    min-height: 50vh;
}
.Body-group {
    background-color: #e7e7e7;
    min-height: 25vh;
}

.ul-dp {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    align-content: center;
}

.ul-dp>li,
.dropeable-container>li {
    list-style: none;
}

.dropeable-list-item,.dli {
    list-style:none;
    border-radius: 10px;
    margin: .2rem 1rem;
    padding: .6rem;
    background-color: ghostwhite;
}

.plus-button {
    color: white;
    display: block;
    padding: 0.5rem 0.7rem;
    margin: 0px 0.5rem;
    margin-left: 90%;
    width: fit-content;
    border-radius: 0px 0px 10px 10px;
    transition: .5s;
    background-color: rosybrown;
}

.dli:hover {
    background-color: #eee;
}

.plus-button:hover {
    cursor: pointer;
    background-color: brown;
}

.controled-input {
    margin: .3rem;
    width: 97% !important;
}